<div id="header">
  <a href="/"><img src="/assets/logo_header.JPG" class="header_logo"></a>
  <div id="header-menu">
    <div class="header-menu-icon">
      <i class="material-icons">account_circle</i>
      <p>新規登録</p>
    </div>
    <div class="header-menu-icon">
      <i class="fa fa-book" aria-hidden="true"></i>
      <p>CP BLOG</p>
    </div>
    <div class="header-menu-icon">
      <i class="fa fa-star" aria-hidden="true"></i>
      <p>運営に参加</p>
    </div>
  </div>
</div>