<!-- トップページのモーダル中身だけを独立させました -->
<div id="modal1" class="modal-content">
  <div class="modal-content-left">
    <h4>お面プロモーションの事例</h4>
    <img src="/assets/fireworks.jpg">
  </div>
  <div class="modal-content-right">
    <br>
    <h1>◼ミッション</h1>
    <p>プロダクト(お面)のオンラインプレゼンスを生む</p>
	<h1>◼やったこと</h1>
	<ul>
	  <li>Wikipedia/Navarまとめ記事の作成</li>
	  <li>公式Twitterの運用</li>
	  <li>フラッシュモブ</li>
	  <li>イベントHP/Twitterの作成</li>
      <li>フラッシュモブ動画作成</li>
      <li>フラッシュモブ動画拡散</li>
      <li>国外におけるお面撮影etc</li>
    </ul>
	<h1>◼結果</h1>
	<ul>
	  <li>HP/動画 (<a href="http://dodadancing.wixsite.com/shishomob">動画はこちら</a>)</li>
      <li>リーチ:30,000+</li>
    </ul>
  </div>
  <a class="modal-close">×</a>
</div>
<div id="modal2" class="modal-content">
  <div class="modal-content-left">
    <h4>作文教室立ち上げ</h4>
    <img src="/assets/case2_1.jpg">
  </div>
  <div class="modal-content-right">
    <br>
    <h1>◼ミッション</h1>
    <p>プロダクト(お面)のオンラインプレゼンスを生む</p>
	<h1>◼やったこと</h1>
	<ul>
	  <li>Wikipedia/Navarまとめ記事の作成</li>
	  <li>公式Twitterの運用</li>
	  <li>フラッシュモブ</li>
	  <li>イベントHP/Twitterの作成</li>
      <li>フラッシュモブ動画作成</li>
      <li>フラッシュモブ動画拡散</li>
      <li>国外におけるお面撮影etc</li>
    </ul>
	<h1>◼結果</h1>
	<ul>
	  <li>HP/動画 (<a href="http://dodadancing.wixsite.com/shishomob">動画はこちら</a>)</li>
      <li>リーチ:30,000+</li>
    </ul>
  </div>
</div>
<div id="modal3" class="modal-content">
  <h1>TOPIX2</h1>
  <img src="/assets/case3_1.jpg">
  <p>サンプルテキスト。</p>
  <a class="modal-close">×</a>
</div>