<div id="header">
  <a href="/"><img src="/assets/logo_header.JPG" class="header_logo"></a>
  <div id="navi">
    <ul>
      <li><%= link_to '戻る', '/' %></li>
    </ul>
  </div>
</div>
<div id="main">
  <h2>MEET OUR TEAM</h2>
  <div class="member_field">
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
  </div>
</div>