<div id="header">
  <a href="/"><img src="/assets/logo_header.JPG" class="header_logo"></a>
  <div id="navi">
    <ul>
      <li><%= link_to '戻る', '/' %></li>
    </ul>
  </div>
</div>
<div id="main">
  <h2>MEET OUR TEAM</h2>
  <div class="member_field">
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
    <div class="member_row">
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
      <div class="member_card">
        <div class="member_photo">
        </div>
        <div class="member_name">
          <p>Rioko O.</p>
        </div>
        <div class="member_discription">
          <p>早稲田大学国際政治経済学科4年。</p>
          <p><b>【強み】</b><br>巻き込み力、語学力</p>
          <p><b>【興味】</b><br>デジタル・マーケティング、人材</p>
          <p><b>【経験】</b><br>知的障がい者支援（クラブ責任者）<br>Enactus国内大会出場、カンクン世界大会出席<br>国際サミットの運営（BizjapanSummit）<br>NPO海のくに・日本　学生リーダー<br>日立ビジネスコンテスト優勝<br>UFLL国内大会優勝、世界大会10位<br>COP12ジャパン・ユースの通訳<br>学生団体立ち上げ（GPECOM）</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
#main{
  width: 100%;
  height: 2400px;
  margin-top: 69px;
  padding-top: 30px;
  background-color: rgb(245,245,245);
}

#main h2{
  text-align: center;
}

#main .member_field{
  width: 950px;
  height: 2275px;
  margin: 0 auto 30px;
  background-color: red;
}

#main .member_field .member_row{
  width: 100%;
  height: 550px;
  margin-top: 25px;
  background-color: purple;
}

#main .member_field .member_row:first-child{
  margin-top: 0;
}

#main .member_field .member_row .member_card{
  width: 300px;
  height: 100%;
  margin-left: 25px;
  float: left;
  background-color: blue;
}

#main .member_field .member_row .member_card:first-child{
  margin-left: 0;
}

#main .member_field .member_photo{
  width:225px;
  height:225px;
  border-radius: 400px; 
  border:5px solid #fff;
  margin: 20px auto 0;
  box-shadow: 0px 0px 10px #ccc,
    inset 0px 0px 10px rgba(0, 0, 0, 0.8);
  background: url('/assets/fireworks.jpg') center center;
}

#main .member_field .member_name{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#main .member_field .member_name p{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

#main .member_field .member_discription{
  width: 100%;
  height: 235px;
  background-color: yellow;
}

#main .member_field .member_discription p{
  margin: 5px 0;
  font-size: 12px;
  text-align: center;
  line-height: 1.25em;
}

#main .member_field .member_discription p:first-child{
  margin-bottom: 17px;
}
</style>