<div class="top_content" id="content">
  <div class="inquiry_completed_card">
  <h4>お問い合わせが完了しました。</h4>
  <p>運営より返信いたしますので、暫くお待ち下さい。</p>
  <div class="button_div">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="back_to_top_button">
      トップページへ戻る
    </button>
  </div>
  </div>
</div>