/* 全体のデザイン */
body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  color: rgb(100, 100, 100);
}

body.lock_scroll {
  overflow: hidden;
}

#content {
  width: 100%;
  height: 500px;
}

.project_card {
  width: 250px;
  border: solid rgb(240, 240, 240);
  border-radius: 10px;
}

.button_div {
  text-align: center;
}

strong {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(249, 166, 26);
}

textarea {
  resize: none!important;
}

.top_content {
  margin-top: 60px;
}

/* header のデザイン */
#header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 10;
  border-bottom: solid rgb(240, 240, 240);
  background-color: rgb(255, 255, 255);
  img {
    height: 60px;
    margin-left: 30px;
    float: left;
  }
}

#home_header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  z-index: 10;
  border-bottom: solid rgb(240, 240, 240);
  background-color: rgb(255, 255, 255);
  img {
    height: 60px;
    margin-left: 30px;
    float: left;
  }
  div {
    &#navi {
      width: 100%;
      height: 100%;
    }
    ul {
      height: 30px;
      margin: 60px auto 0;
      padding: 0;
      li {
        width: 150px;
        height: 100%;
        text-align: center;
        border-left: solid rgb(240, 240, 240);
        margin-top: 5px;
        margin-right: 5px;
        padding-left: 5px;
        float: right;
        list-style: none;
        &:first-child{
          border-right: solid rgb(240,240,240);
        }
        a {
          color: inherit;
          text-decoration: none;
          display: block;
          margin-top: 5px;
          border-radius: 5px;
          &:hover {
            background-color: rgb(251, 211, 135);
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* contents_1 のデザイン */

#contents_1 {
  width: 100%;
  height: 500px;
  margin-top: 6px;
  background: url('/assets/main_concept.jpg') bottom no-repeat #46B6AC;
  .login_field {
    width: 300px;
    margin: 180px 100px 0;
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.5px solid rgba(240, 240, 240, 0.3);
    border-radius: 5px;
    form {
      width: 240px;
      margin: 0 30px 0;
    }
  }
  button {
    color: #fff;
    width: 240px;
    margin: 10px 20px 15px 20px;
  }
}

/* contents_2 のデザイン */

#contents_2 {
  width: 100%;
  text-align: center;
}

/* contents_3 のデザイン */

#contents_3 {
  width: 100%;
  height: 900px;
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .about_us {
    height: 200px;
    width: 660px;
    margin: 0px auto 20px;
    /*background-color: purple;*/
  }
  .about_us_left {
    width: 200px;
    height: 100%;
  }
  .about_us_left_1 {
    background: url('/assets/anchor.png');
  }
  .about_us_left_2 {
    background: url('/assets/shake.png');
  }
  .about_us_left_3 {
    background: url('/assets/bulb.png');
  }
  .about_us_right {
    width: 450px;
    float: right;
    margin: 15px 0 15px 15px;
    /*background-color: red;*/
    p {
      font-size: 0.8em;
      margin: 0;
    }
    h6 {
      font-weight: bold;
      margin-top: 10px;
    }
  }
  button {
    width: 300px;
    color: #fff;
    margin-top: 50px;
  }
}

/* contents_4 のデザイン */

#contents_4 {
  width: 100%;
  padding-top: 10px;
  h2 {
    text-align: center;
  }
  .card_field {
    width: 1000px;
    min-height: 320px;
    margin: 0 auto;
  }
  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .card_field .mdl-card {
    &:first-child {
      margin-left: 0;
    }
    p {
      display: block;
      margin: 20px auto 5px;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('/assets/fireworks.jpg') bottom right 15% no-repeat #46B6AC;
  }
  button {
    width: 250px;
    margin: 30px 0;
    color: #fff;
  }
}

.defaultlist {
  padding: 0px;
  margin: 0px 20px 0px 35px;
  li {
    padding: 0px;
    margin: 0px 20px 0px 35px;
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 5px 0px 5px 0px !important;
  }
}

.list12 {
  counter-reset: li;
  li {
    position: relative;
    display: block;
    padding: 5px 0px 5px 50px;
    background: rgba(249, 166, 29, 0.1);
    border: 2px solid rgb(249, 166, 29);
    border-radius: 2px;
    margin-left: -15px !important;
  }
}

li.list12-count {
  &:after {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgb(249, 166, 29);
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid rgb(249, 166, 29);
    text-align: center;
    font-weight: bold;
    border-radius: 0px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2) inset;
    top: 8px;
    left: 33px;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid rgb(249, 166, 29);
  }
}

.modal-overlay {
  z-index: 20;
  /*デモではheader,footerをz-index:1にしたので それより上げています*/
  display: none;
  /*jsでフェードインされるまでdisplay:none*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*100vhでビューポートの高さいっぱいになります*/
  background-color: rgba(50, 50, 50, 0.8);
}

/*これは好きな色・透明度で*/

a.modal-open:hover {
  cursor: pointer;
}

/*カーソルをポインタに*/

.modal-content {
  height: 500px;
  width: 800px;
  position: fixed;
  display: none;
  /*jsでフェードインされるまでdisplay:none*/
  z-index: 30;
  /*オーバーレイより上に*/
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  img {
    width: auto;
    max-height: 75vh;
  }
  h1 {
    font-size: 120%;
    margin-bottom: 0.5em;
  }
  p {
    max-width: 565px;
    text-align: left;
  }
}

a.modal-close {
  /*クローズボタンは何でも好きなスタイルでOK*/
  position: absolute;
  top: 0;
  right: 10px;
  color: #b29c33;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

/*カーソルをポインタに*/

/* contents_5 のデザイン */

#contents_5 {
  width: 100%;
  height: 1100px;
  padding-top: 10px;
  background-color: rgba(68, 201, 246, 0.3);
  h2 {
    text-align: center;
  }
  >p{
    text-align: center;
  }
  .student_flow{
    width: 900px;
    height: 800px;
    margin: 50px auto;
    .student_flow_card_row{
      width: 100%;
      height: 380px;
      margin: 0;
      &:first-child{
        margin-bottom: 40px;
        .student_flow_card_content{
          float: left;
          &:nth-child(1){
            .student_flow_card_image{
              background: url('/assets/click.png');
              background-size: contain;  
            }      
          }
          &:nth-child(3){
            .student_flow_card_image{
              background: url('/assets/deskwork.png');
              background-size: contain;  
            }      
          }
          &:nth-child(5){
            .student_flow_card_image{
              background: url('/assets/job_interview.png');
              background-size: contain;  
            }      
          }
        }
        .arrow_between_cards{
          float: left;
        }
      }
      &:nth-child(2){
        .student_flow_card_content{
          &:nth-child(1){
            .student_flow_card_image{
              background: url('/assets/yahoo.png');
              background-size: contain;  
            }
          }
          &:nth-child(3){
            .student_flow_card_image{
              background: url('/assets/report.png');
              background-size: contain;  
            }
          }
          &:nth-child(5){
            .student_flow_card_image{
              background: url('/assets/meeting.png');
              background-size: contain;  
            }
          }
        }
      }
      .student_flow_card_content{
        width: 210px;
        height: 100%;
        float: right;
        border: solid rgb(130,130,130) 0.5px;
        border-radius: 5px;
        &:first-child{
          margin-left: 0;
        }
        .student_flow_card_image{
          width: 150px;
          height: 150px;
          margin: 30px;
          background-color: green;
          border-bottom: solid rgb(150,150,150) 1px;
        }
        .student_flow_card_description{
          width: 190px;
          height: 170px;
          margin: 0 auto;
          h5{
            text-align: center;
          }
          p{
            line-height: 1.5em;
          }
        }
      }
      .arrow_between_cards{
        height: 100%;
        width: 20px;
        float: right;
        margin: 0;
        i{
          display: block;
          width: 100%;
          margin-top: 180px;
        }
      }
    }
  }
  .button_div{
    width: 100%;
    margin-top: 50px;
    button {
      margin: 0 auto;
      width: 300px;
      color: #fff;
    }
  }
}

/* contents_6 のデザイン */

#contents_6 {
  width: 100%;
  height: 750px;
  padding-top: 10px;
  background-color: rgba(249, 166, 26, 0.3);
  h2,p {
    text-align: center;
  }
  .worker_flow{
    width: 900px;
    height: 460px;
    margin: 50px auto;
    .worker_flow_card_row{
      height: 210px;
      width: 100%;
      &:first-child{
        margin-bottom: 40px;
        .worker_flow_card_content{
          &:first-child{
            background: url('/assets/art.png');
            background-size: contain;
          }
          &:nth-child(2){
            background: url('/assets/film.png');
            background-size: contain;
          }
          &:nth-child(3){
            background: url('/assets/computer.png');
            background-size: contain;
          }
          &:nth-child(4){
            background: url('/assets/webpage.png');
            background-size: contain;
          }
        }
      }
      &:nth-child(2){
        .worker_flow_card_content{
          &:first-child{
            background: url('/assets/comment.png');
            background-size: contain;
          }
          &:nth-child(2){
            background: url('/assets/analysis.png');
            background-size: contain;
          }
          &:nth-child(3){
            background: url('/assets/pdf.png');
            background-size: contain;
          }
          &:nth-child(4){
            background: url('/assets/student.png');
            background-size: contain;
          }
        }
      }
      .worker_flow_card_content{
        width: 210px;
        height: 100%;
        margin-left: 20px;
        float: left;
        position: relative;
        &:first-child{
          margin-left: 0;
        }
        .worker_flow_card_description{
          width: 100%;
          background-color: rgba(50,50,50,0.7);
          color: rgb(220,220,220);
          text-align: center;
          position: absolute;
          bottom: 0;
          p{
            margin: 3px auto;
          }
        }
      }
    }
  }
  button {
    margin: 20px;
    color: #fff;
  }
}

/* contents_7 のデザイン */

#contents_7 {
  width: 100%;
  height: 600px;
  padding-top: 10px;
  background-color: rgb(245, 245, 245);
  h2 {
    text-align: center;
  }
  .message_field {
    width: 500px;
    border: 0.5px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin: 0 auto;
    form {
      margin: 10px;
      div {
        width: 100%;
      }
    }
    button {
      margin: 20px;
      font-size: 18px;
      color: #fff;
    }
  }
}

/* footer のデザイン */

footer {
  .copyright {
    width: 100%;
    padding-right: 30px;
    p{
      float: right;
      display: block;
    }
    color: rgb(230,230,230);
  }
}

/* お問い合わせフォーム関係のページ */
div.confirmation_card{
  width: 30%;
  margin: 100px auto;
  border: solid rgb(240,240,240) 1px;
  border-radius: 5px;
  h4{
    text-align: center;
  }
  form{
    margin: 20px;
  }
  .button_div{
    width: 100%;
    button{
      width: 80%;
      margin: 10px auto 20px;
      color: #fff;
    }
  }
}

div.inquiry_completed_card{
  width: 30%;
  margin: 150px auto;
  h4,p{
    text-align: center;
  }
  .button_div{
    width: 100%;
    button{
      width: 80%;
      margin: auto;
      color: #fff;
    }
  }
}


/* 運営紹介ページのデザイン */

#main {
  width: 100%;
  height: 2400px;
  margin-top: 60px;
  padding-top: 30px;
  background-color: rgb(245, 245, 245);
  h2 {
    text-align: center;
  }
  .member_field {
    width: 950px;
    height: 2275px;
    margin: 0 auto 30px;
    /*background-color: red;*/
    .member_row {
      width: 100%;
      height: 550px;
      margin-top: 25px;
      /*background-color: purple;*/
      &:first-child {
        margin-top: 0;
      }
      .member_card {
        width: 300px;
        height: 100%;
        margin-left: 25px;
        float: left;
        /*background-color: blue;*/
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .member_photo {
      width: 225px;
      height: 225px;
      border-radius: 400px;
      border: 5px solid #fff;
      margin: 20px auto 0;
      box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
      background: url('/assets/fireworks.jpg') center center;
    }
    .member_name {
      width: 100%;
      margin-top: 20px;
      text-align: center;
      p {
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
      }
    }
    .member_discription {
      width: 100%;
      height: 235px;
      /*background-color: yellow;*/
      p {
        margin: 5px 0;
        font-size: 12px;
        text-align: center;
        line-height: 1.25em;
        &:first-child {
          margin-bottom: 17px;
        }
      }
    }
  }
}