body{
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  color: rgb(100,100,100);
}

/* 全体のデザイン */
.project_card{
  width: 250px;
  border: solid rgb(240,240,240);
  border-radius: 10px;
}

.button_div{
  text-align: center;
}

strong{
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(249,166,26);
}

/* header のデザイン */
#header{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3px 0;
  z-index: 10;
  border-bottom: solid rgb(240,240,240);
  background-color: rgb(255,255,255)
}

#header img{
  height: 100%;
  margin-left: 30px;
  float: left;
}

#header div#navi{
  width: 70%;
  height: 100%;
  float: right;
}

#header div ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header div ul li{
  width: 12%;
  height: 100%;
  text-align: center;
  border-left: solid rgb(240,240,240);
  margin-right: 5px;
  padding-left: 5px;
  float: right;
  list-style: none;
}

#header div ul li a{
  color: inherit;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  border-radius: 5px;
}

#header div ul li a:hover{
  background-color: rgb(251,211,135);
}

/* contents_1 のデザイン */
#contents_1{
  width: 100%;
  height: 500px;
  margin-top: 6px;
  background:
    url('/assets/main_concept.jpg') bottom no-repeat #46B6AC;
}

#contents_1 .login_field{
  width: 300px;
  margin: 150px 100px 0;
  float: right;
  background-color: rgba(255,255,255,0.5);
  border: 0.5px solid rgba(240,240,240,0.3);
  border-radius: 5px;
}

#contents_1 .login_field form{
  width: 240px;
  margin: 0 30px 0;
}

#contents_1 button{
  color: #fff;
  width: 240px;
  margin: 10px 20px 30px;
}

/* contents_2 のデザイン */
#contents_2{
  width: 100%;
  text-align: center;
}

/* contents_3 のデザイン */
#contents_3{
  width: 100%;
  height: 900px;
  padding-top: 10px;
  background-color: rgb(245,245,245);
}

#contents_3 h2{
  text-align: center;
  margin-bottom: 50px;
}

#contents_3 .about_us{
  height: 200px;
  width: 660px;
  margin: 0px auto 20px;
  /*background-color: purple;*/
}

#contents_3 .about_us_left{
  width: 200px;
  height: 100%;
}

#contents_3 .about_us_left_1{
  background: url('/assets/anchor.png') ;
}

#contents_3 .about_us_left_2{
  background: url('/assets/shake.png') ;
}

#contents_3 .about_us_left_3{
  background: url('/assets/bulb.png') ;
}

#contents_3 .about_us_right{
  width: 450px;
  float: right;
  margin: 15px 0 15px 15px;
  /*background-color: red;*/
}

#contents_3 .about_us_right p{
  font-size: 0.8em;
  margin: 0;
}

#contents_3 .about_us_right h6{
  font-weight: bold;
  margin-top: 10px;
}

#contents_3 button{
  width: 300px;
  color: #fff;
  margin-top: 50px;
}

/* contents_4 のデザイン */
#contents_4{
  width: 100%;
  padding-top: 10px;
}

#contents_4 h2{
  text-align: center;
}

#contents_4 .card_field{
  width: 1000px;
  min-height: 320px;
  margin: 0 auto;
}

#contents_4 .demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

#contents_4 .card_field .mdl-card:first-child{
  margin-left: 0;
}

#contents_4 .card_field .mdl-card p{
  display: block;
  margin: 20px auto 5px;
  font-size: 1.5em;
  font-weight: bold;
}

#contents_4 .demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/fireworks.jpg') bottom right 15% no-repeat #46B6AC;
}

#contents_4 button{
  width: 250px;
  margin: 30px 0;
  color: #fff;
}

.defaultlist
,.defaultlist li{
  padding:0px;
  margin:0px 20px 0px 35px;
}
 
.defaultlist li{
  list-style-type:none !important;
  list-style-image:none !important;
  margin: 5px 0px 5px 0px !important;
}
.list12{
  counter-reset:li;   
}
.list12 li{
  position:relative;
  display: block;
  padding:5px 0px 5px 50px; 
  background: rgba(249,166,29,0.1);
  border: 2px solid rgb(249,166,29);
  border-radius: 2px;
  margin-left:-15px !important;
}
li.list12-count:after{
  counter-increment: li;
  content: counter(li);
  position: absolute; 
  left: 0px;
  top: 0px;
  background: rgb(249,166,29);
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 2px solid rgb(249,166,29);
  text-align: center;
  font-weight: bold;
  border-radius: 0px;
}
 
li.list12-count:before{
  content:''; 
  display:block; 
  position:absolute; 
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
  top:8px; 
  left:33px; 
  height:0; 
  width:0; 
  border-top: 8px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid rgb(249,166,29);
}

.modal-overlay {
    z-index:20; /*デモではheader,footerをz-index:1にしたので それより上げています*/
    display:none; /*jsでフェードインされるまでdisplay:none*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh; /*100vhでビューポートの高さいっぱいになります*/
    background-color:rgba(50,50,50,0.8)} /*これは好きな色・透明度で*/
a.modal-open:hover {cursor:pointer} /*カーソルをポインタに*/
.modal-content {
    position:fixed;
    display:none; /*jsでフェードインされるまでdisplay:none*/
    z-index:30; /*オーバーレイより上に*/
    margin:10px;
    padding:15px;
    border-radius:10px;
    background:#fff}
.modal-content img {width:auto;max-height:75vh}
.modal-content h1 {font-size:120%; margin-bottom:0.5em}
.modal-content p {max-width:565px; text-align:left}
a.modal-close { /*クローズボタンは何でも好きなスタイルでOK*/
    position:absolute;
    top:0;
    right:10px;
    color:#b29c33;
    font-size:35px;
    line-height:1;
    font-weight:bold;
    text-decoration:none}
a.modal-close:hover {cursor:pointer} /*カーソルをポインタに*/


/* contents_5 のデザイン */
#contents_5{
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background-color: rgba(68,201,246,0.3);
}

#contents_5 h2{
  text-align: center;
}

/* contents_6 のデザイン */
#contents_6{
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background-color: rgba(249,166,26,0.3);
}

#contents_6 h2{
  text-align: center;
}

/* contents_7 のデザイン */
#contents_7{
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background-color: rgb(245,245,245);
}

#contents_7 h2{
  text-align: center;
}

#contents_7 .message_field{
  width: 500px;
  border: 0.5px solid rgb(220,220,220);
  border-radius: 5px;
  margin: 0 auto;
}

#contents_7 .message_field form{
  margin: 10px;
}

#contents_7 .message_field form div{
  width: 100%;
}

#contents_7 .message_field button{
  margin: 20px;
  font-size: 18px;
  color: #fff;
}

/* footer のデザイン */
#footer{
  background-color: rgb(56,56,56);
  width: 100%;
  height: 150px;
}
#footer .footer_content{
  height: 120px;
  width: 100%;
}

#footer .copyright{
  margin: 5px;
  float: right;
  color: #fff;
}